.clipes-ativo:visited {
  color: white;
}

.canal-youtube {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 50px;
  text-decoration: overline;
}

.sub-dança-sincronia {
  color: white;
  font-size: 25px;
}

.mv {
  width: 49%;
  padding: 3px;
  margin: 0px;
  border-radius: 25px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.425);
  opacity: 70%;
  transition: 0.5s;
  transform: scale(0.9);
}

.mv:hover {
  transform: scale(1);
  opacity: 100%;
}

a {
  text-decoration: none;
}

.title {
  display: none;
  font-size: 30px;
  padding: 0px;
}
