h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 50px;
  text-decoration: overline;
}

a {
  text-decoration: none;
}

li {
  margin-left: 500px;
  color: white;
  padding: 10px;
}
