@media screen and (min-width: 400px) and (max-width: 768px) {
  .texto-nos-apresentando {
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: overline;
    padding: 20px;
  }

  article {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 6px;
    box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.482);
  }

  .foto1 {
    width: 100%;
    height: 350px;
    border-radius: 5%;
    /* box-shadow: 2px 11px 20px 0px rgba(255, 255, 255, 0.482); */
  }

  .foto2 {
    display: none;
  }

  .texto-descricao {
    /* ja temos um estilo declarado para o <p> */
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0px 20px 0px 20px;
    /* letter-spacing: 3px;
    line-height: 15px; */
  }

  .maknae {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }

  br {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .texto-nos-apresentando {
    text-align: center;
    color: white;
    font-size: 2em;
    text-decoration: overline;
    padding: 20px;
  }

  article {
    height: 280px;
    display: flex;
    margin-top: 40px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 7px;
    box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.482);
    padding: 0px 40px 0px 40px;
  }

  .foto1,
  .foto2 {
    margin: 10px;
    border-radius: 6%;
    box-shadow: 2px 11px 20px 0px rgba(255, 255, 255, 0.482);
  }

  .sumir {
    display: none;
  }

  .texto-descricao {
    /* ja temos um estilo declarado para o <p> */
    padding-top: 10px;
    color: white;
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: 1.3em;
  }

  .maknae {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }

  br {
  }
}

@media screen and (min-width: 992px) {
  article {
    height: 280px;
    padding-bottom: 80px;
    display: flex;
    padding-top: 30px;
  }

  .texto-nos-apresentando {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    text-decoration: overline;
  }

  .foto1 {
    margin-left: 30px;
    border-radius: 5%;
    box-shadow: 2px 11px 20px 0px rgba(255, 255, 255, 0.482);
  }

  .foto2 {
    margin-right: 30px;
    border-radius: 5%;
    box-shadow: 2px 11px 20px 0px rgba(0, 0, 0, 0.482);
  }

  .texto-descricao {
    padding: 0px 20px 0px 20px;
    margin: 10px;
    text-align: center;
  }

  .maknae {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
}
